{% load static %}

<!DOCTYPE html>
<html lang="en, es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Esteban Salinas, Franco Carvallo, David Lever" />
    <meta name="description" content="Departamento de Bomberos de Chile: Institución nacional de Bomberos de Chile">
    <meta name="keywords" content="Bomberos, Bomberos de Chile, Cuerpo de Bomberos, Departamento de Bomberos, Incendio, Rescate">
    <link rel="icon" href="{% static 'appweb/favicon/favicon.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'appweb/css/stylecontacto.css' %}">

    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">

    <!--LINKS PARA EL FUNCIONAMIENTO DE LA PAGINA-->
    <script src="https://kit.fontawesome.com/0458944bda.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <title> Contacto | Bomberos de Chile</title>

</head>

<body>
    <!--MENU DE NAVEGACION-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="{% static 'appweb/logo/logo.png' %}" class="logobom"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler10" aria-controls="myNavbarToggler10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbarToggler10">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'historia' %}">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'galeria' %}">Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                </li>
            </ul>
            <ul class="navbar-nav sm-icons mr-0">
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/BomberosCL/"><i class="fab fa-facebook-f"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/bomberoschileoficial/?hl=es-la"><i class="fab fa-instagram"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://twitter.com/BomberosdeChile"><i class="fab fa-twitter"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/user/BomberosOnline"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </nav>
    <!------ AQUI TERMINA EL MENU ------->

    <!------ AQUI COMIENZA EL CARRUSEL ------->
    <main>
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <!--IMAGEN 1-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'appweb/img/img_carousel_09.jpg' %}" alt="Carousel Image">
                </div>

                <!--IMAGEN 2-->
                <div class="carousel-item">
                    <img src="{% static 'appweb/img/img_carousel_02.jpg' %}" alt="Carousel Image">
                </div>

                <!--IMAGEN 3-->
                <div class="carousel-item">
                    <img src="{% static 'appweb/img/img_carousel_03.jpg' %}" alt="Carousel Image">
                </div>
            </div>
            <!--FLECHAS IZQ. DER. DEL CARRUSEL -->
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </main>
    <!-------- AQUI TERMINA EL CARRUSEL ------------------->


    <!----------- BOTON SCROLL -------------->
    <a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true"></a>
    <div class="height">
    </div>
    <!----------- TERMINO DEL SCROLL --------->


    <!------------- AQUI COMIENZA EL BODY ---------------->
    <br><br><br><br><br>
    <div class="container">
        <!------------ IMAGEN DE LA IZQUIERDA  -------------->
        <div class="row">
            <div class="col-md-6">

                <br>
                <br>
                <br>
                <h4 class="display-3">Manténgase en contacto</h4>
                <p id="parrafo">Porque estar comunicados es importante, puede enviarnos un correo mediante el formulario que tenemos a disposición. Recuerda completar todos los espacios correctamente.

            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="row align-items-center h-100">
                    <div class="col">
                        <div id="form-container">
                            <h1>Contacto</h1>
                            <form id="form" action="/success.html" method="GET" autocomplete="off">
                                <p id="e71" class="warning">Por favor complete los campos a continuación.</p>
                                <p id="e72" class="error">Por favor complete el formulario con información valida.</p>

                                <label for="fullname">Nombre:</label>
                                <input type="text" name="fullname" id="fullname" placeholder="Ingrese su Nombre (Nombre y Apellido)" class="field" /><i id="v1" class="far fa-check-circle"></i><i id="f1" class="far fa-times-circle"></i>
                                <p id="e1" class="error">Por favor ingrese su nombre y apellido.</p>

                                <label for="email">Correo:</label>
                                <input type="email" name="email" id="email" placeholder="Correo electrónico." class="field" /><i id="v2" class="far fa-check-circle"></i><i id="f2" class="far fa-times-circle"></i>
                                <p id="e2" class="error">Por favor ingrese un correo electrónico valido.</p>

                                <label for="emailvalid">Confirmar correo:</label>
                                <input type="email" name="emailconf" id="emailvalid" placeholder="Confirme su correo electronico" class="field" /><i id="v3" class="far fa-check-circle"></i><i id="f3" class="far fa-times-circle"></i>
                                <p id="e31" class="error">El correo electrónico que escribió no coincide con el anterior.</p>
                                <p id="e32" class="error">Por favor ingrese una dirección de correo electrónico válida.</p>

                                <label for="phone">Celular:</label>
                                <input type="tel" name="phone" id="phone" placeholder="Celular" class="field" /><i id="v4" class="far fa-check-circle"></i><i id="f4" class="far fa-times-circle"></i>
                                <p id="e4" class="error">Por favor ingresa un numero valido. <i>Ej. +56 912345678</i></p>

                                <label for="address">Asunto:</label>
                                <input type="text" name="address" id="address" placeholder="Asunto" class="field" /><i id="v5" class="far fa-check-circle"></i><i id="f5" class="far fa-times-circle"></i>
                                <p id="e5" class="error">Por favor ingresa un asunto. <i>Ej: Reclamo.</i></p>

                                <label for="message">Mensaje:</label>
                                <textarea id="message" placeholder="Escriba aquí  su mensaje..."></textarea>
                                <p id="e6" class="warning">Máximo 250 Caracteres</p>
                                <button class="btn" id="enviar" type="submit" value="submit">Enviar</button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.col-md-6 -->

        </div>
        <br><br><br><br><br>
        <!-- /.row -->

        <!----------- IMAGEN A LA DERECHA --------------->
        <div class="row">
            <div class="col-lg-6">

                <div class="row align-items-center h-100">
                    <div class="col">
                        <h4 class="display-3">Dirección de nuestro departamento</h4>
                        <p class="lead">Puedes encontrarnos en: Merced #186, San Felipe, Valparaíso
                        </p>

                    </div>
                </div>

            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13422.114706795825!2d-70.7258435!3d-32.7517038!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcdf5785d5f841067!2sCuerpo%20de%20Bomberos%20de%20San%20Felipe!5e0!3m2!1ses-419!2scl!4v1620091341092!5m2!1ses-419!2scl"
                    width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <!-- /.col-md-6 -->

        </div>
        <!-- /.row -->

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!------------- AQUI TERMINA EL BODY ----------------->


    <!------------- INICIO DEL FOOTER --------------------->
    <footer>
        <div class="footer-bottom">
            <div class="footer-bottom-copyright-text">
                <img src="{% static 'appweb/logo/logo_blue.png' %}" class="logofooter" alt="">&copy; 2021 Bomberos de Chile | Todos los derechos reservados.
            </div>

            <div class="footer-bottom-social-icons">
                <ul id="footer-social-links">
                    <li><a href="https://www.facebook.com/BomberosCL/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/bomberoschileoficial/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/BomberosdeChile" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/user/BomberosOnline" target="_blank"><i class="fab fa-youtube"></i></a></li>
                </ul>
                <div class="footer-bottom-site-credit"><span id="site-credit"></div>
            </div>
        </div>
</footer>
<!----------------- AQUI TERMINA EL FOOTER ------------------>

    <!--SCRIPTS PARA EL FUNCIONAMIENTO DE LA PAGINA-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'appweb/js/scriptS1.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".toggle-nav").click(function() {
                $(".menu ul li").slideToggle("slow");
            });

        });
    </script>
</body>

</html>