{% load static %}

<!DOCTYPE html>
<html lang="en, es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Esteban Salinas, Franco Carvallo, David Lever" />
    <meta name="description" content="Departamento de Bomberos de Chile: Institución nacional de Bomberos de Chile">
    <meta name="keywords" content="Bomberos, Bomberos de Chile, Cuerpo de Bomberos, Departamento de Bomberos, Incendio, Rescate">

    <link rel="icon" href="{% static 'appweb/favicon/favicon.png' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'appweb/css/styleintegrantes.css' %}">

    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">

    <!--LINKS PARA EL FUNCIONAMIENTO DE LA PAGINA-->
    <script src="https://kit.fontawesome.com/0458944bda.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title> Integrantes | Bomberos de Chile</title>

</head>

<body>
    <!--MENU DE NAVEGACION-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="{% static 'appweb/logo/logo.png' %}" class="logobom"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler10" aria-controls="myNavbarToggler10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbarToggler10">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'historia' %}l">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'galeria' %}">Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'bombero' %}">Integrantes</a>
                </li>
            </ul>
            <ul class="navbar-nav sm-icons mr-0">
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/BomberosCL/"><i class="fab fa-facebook-f"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/bomberoschileoficial/?hl=es-la"><i class="fab fa-instagram"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://twitter.com/BomberosdeChile"><i class="fab fa-twitter"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/user/BomberosOnline"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </nav>
    <!------ AQUI TERMINA EL MENU ------->

    <!------ AQUI COMIENZA EL CARRUSEL ------->
    <main>
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <!--IMAGEN 1-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'appweb/img/img_carousel_09.jpg' %}" alt="Carousel Image">
                </div>

                <!--IMAGEN 2-->
                <div class="carousel-item">
                    <img src="{% static 'appweb/img/img_carousel_02.jpg' %}">
                </div>

                <!--IMAGEN 3-->
                <div class="carousel-item">
                    <img src="{% static 'appweb/img/img_carousel_03.jpg' %}" alt="Carousel Image">
                </div>
            </div>
            <!--FLECHAS IZQ. DER. DEL CARRUSEL -->
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </main>
    <!-------- AQUI TERMINA EL CARRUSEL ------------------->


    <!----------- BOTON SCROLL -------------->
    <a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true"></a>
    <div class="height">
    </div>
    <!----------- TERMINO DEL SCROLL --------->


    <!------------- AQUI COMIENZA EL BODY ---------------->

    <!--------- AQUI COMIENZA LA LISTA----------->
    <div class="row justify-content-center align-items-center centrado">
        <div class="col-auto">
            <div class="centrado">
                <!-- partial:index.partial.html -->
                <br>
                <span><h3>Lista de integrantes de la compañia</h3></span>
            </div>
            <div class="list">
                <ul>
                    <li>Rut</li>
                    <li>Nombre</li>
                    <li>Celular</li>
                    <li>Cargo</li>
                    <li>Compañia</li>
                    <li>Comuna</li>
                    <li>Fecha de Ingreso</li>
                </ul>
                {% for bom in personal %}
                <ul>
                    <li data-label="Rut">{{bom.rut}}-{{bom.dv}} </li>
                    <li data-label="Nombre">{{bom.pnombre}} {{bom.snombre}} {{bom.appaterno}} {{bom.apmaterno}}</li>
                    <li data-label="fono">{{bom.fono}}</li>
                    <li data-label="Cargo">{{bom.cargo}}</li>
                    <li data-label="Compañia">{{bom.compania}}</li>
                    <li data-label="Comuna">{{bom.comuna}}</li>
                    <li data-label="Fecha de Ingreso">{{bom.fecha_ing}}</li>
                </ul>
                {% endfor %}
                <br>
            </div>
            <!-- partial -->
        </div>
    </div>
    <!------------------------- TERMINO DE LA LISTA --------------------->


    <!-------------- MODIFICAR ---------------->

    <!------------- AQUI TERMINA EL BODY ----------------->


    <!------------- INICIO DEL FOOTER --------------------->
    <footer>
        <div class="footer-bottom">
            <div class="footer-bottom-copyright-text">
                <img src="{% static 'appweb/logo/logo_blue.png' %}" class="logofooter" alt="">&copy; 2021 Bomberos de Chile | Todos los derechos reservados.
            </div>

            <div class="footer-bottom-social-icons">
                <ul id="footer-social-links">
                    <li><a href="https://www.facebook.com/BomberosCL/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/bomberoschileoficial/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://twitter.com/BomberosdeChile" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/user/BomberosOnline" target="_blank"><i class="fab fa-youtube"></i></a></li>
                </ul>
                <div class="footer-bottom-site-credit"><span id="site-credit"></div>
            </div>
        </div>
    </footer>
<!----------------- AQUI TERMINA EL FOOTER ------------------>

    <!--SCRIPTS PARA EL FUNCIONAMIENTO DE LA PAGINA-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'appweb/js/scriptS1.js' %}"></script>
    <script src="ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js "></script>
    <script src="maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js "></script>
    <script>
        $(document).ready(function() {
            $(".toggle-nav").click(function() {
                $(".menu ul li").slideToggle("slow");
            });

        });
    </script>
</body>

</html>